<library path="src">
  <class name="FabricSystemView" type="rqt_agent.my_module.FabricSystemViewPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Plugin that visualizes structure of agent-based robotic system.
    </description>
    <qtgui>
      <group>
        <label>FABRIC</label>
      </group>
      <!-- optional grouping...
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>System View</label>
      <icon type="theme">system-help</icon>
      <statustip>TODO.</statustip>
    </qtgui>
  </class>
</library>
